#divBandeauPrincipal{
	background-image:url('http://thumbs.dreamstime.com/thumblarge_261/1208855189Q2ulz3.jpg');
	background-origin:padding-box, content-box;
	padding:10px;
}

.margeGauchePourLes3Thumbails ,
li.margeGauchePourLes3Thumbails {
	margin-left:12px;
}

