#divBandeauPrincipal{
	background-image:url('http://25.media.tumblr.com/tumblr_lwnzlkxlqb1r1obo5o1_500.jpg');
	background-origin:padding-box, content-box;
	padding:10px;
}

.margeGauchePourLes3Thumbails ,
li.margeGauchePourLes3Thumbails {
	margin-left:12px;
}