body{
	margin-top:140px;
	background-color:#DCDCDC;
}

.barreMenuSup{
	height:40px;
	background-color:red;
}

.fondGris{
	background-color:#EEEEEE;
}

#slider { margin: 10px; }

.bordureGrise{
	border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
	padding:4px;
	}
	
.fondBlanc{
    background-color: rgba(255, 255, 255, 0.5);
}

.red .ui-slider-range { 
	background: #ef2929;
}
.red .ui-slider-handle { border-color: #ef2929; }
.green .ui-slider-range { 
	background: #62C462; 
}
.green .ui-slider-handle { border-color: #62C462; }
.blue .ui-slider-range { 
	background: #729fcf; 
}
.blue .ui-slider-handle { border-color: #729fcf; }

