body{
	margin-top:140px;
	background-color:#EFEFEF;
}

.barreMenuSup{
	height:40px;
	background-color:red;
}

.fondGris{
	background-color:#EEEEEE;
}

#slider { margin: 10px; }

.sliderProfil{
	height:18px;
}

#divBandeauQuestion{
	background-image:url('http://www.valiumvalse.com/fond_web.jpg');
	background-origin:padding-box, content-box;
	padding:10px;
}

