{% extends 'DMCMainBundle::layoutBackOffice.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <h1>Bienvenue sur le Back Office de fer !</h1>
	<blockquote>
	Dessine moi un cadeau, le projet qui va nous rendre : 
	</blockquote>
	<h2>Riche</h2>
	<img src="http://www.weddingplanninginstitute.com/blog/wp-content/uploads/2010/09/moneygift.jpg" alt="lol"/>
<h2>Beau</h2>
	<img src="http://www.mimifroufrou.com/scentedsalamander/images/dior-homme-jude-law.jpg" alt="lol"/>
	<h2>Plein de gonzesses</h2>
	<img src="http://seohotstuff.com/wp-content/uploads/2011/04/Big-tits-girl-with-a-lot-of-money.jpg" alt="lol"/>
{% endblock %}
